default_install_hook_types: [ "pre-commit", "pre-push" ]
repos:
-   repo: local
    hooks:
    - id: check
      name: check
      description: check for warnings
      entry: touch build.rs && cargo check
      language: system
      files: \.rs$|^Cargo\.
      stages: ["commit"]
      pass_filenames: false
    - id: fmt
      name: fmt
      description: format
      entry: cargo fmt
      language: system
      files: \.rs$|^Cargo\.
      stages: ["commit"]
      pass_filenames: false
    - id: clippy
      name: clippy
      description: clippy
      entry: cargo clippy
      language: system
      files: \.rs$|^Cargo\.
      stages: ["push"]
      pass_filenames: false
    - id: build
      name: build
      entry: touch build.rs && cargo build
      language: system
      stages: ["push"]
      pass_filenames: false
    - id: test
      name: test
      description: run tests
      entry: cargo test
      language: system
      stages: ["push"]
      pass_filenames: false
