[package]
name = "bomberhans2"
version = "0.1.0"
edition = "2021"

[dependencies]
eframe = "0.20.1"
egui = "0.20.1"
env_logger = "0.10.0"
image = { version = "0.24.5", default-features = false, features = ["bmp"] }
log = "0.4.20"
