name: Check
on:
  push:
    branches:
      - main
defaults:
  run:
    shell: bash
jobs:
  build:
    name: Check for ${{ matrix.os }} / ${{ matrix.toolchain }}
    strategy:
      matrix:
        os:
          - linux
        toolchain:
          - stable

        include:
          - os: linux
            runson: ubuntu-latest

    runs-on: ${{ matrix.runson }}

    steps:
      - uses: actions/checkout@v3
      - name: Install Toolchain
        run:  rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - name: Test
        run:  cargo test --verbose
      - name: Build
        run:  cargo build --verbose
      - uses: actions/upload-artifact@v3
        name: Upload
        with:
          name: Debug Executable for ${{ matrix.os }} / ${{ matrix.toolchain }}
          path: target/debug/bomberhans2
