name: Build and Publish
on:
  push:
defaults:
  run:
    shell: bash
jobs:
  build:
    name: Build and Publish
    strategy:
      matrix:
        build:
          - os: ubuntu-latest
            executable: bomberhans2
            os_name: linux
            strip: true
          - os: windows-latest
            executable: bomberhans2.exe
            os_name: windows
            strip: false
        toolchain:
          - stable
    runs-on: ${{ matrix.build.os }}

    steps:
      - uses: actions/checkout@v3
      - name: Install Toolchain
        run:  rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - name: Test
        run:  cargo test --release --verbose
      - name: Build
        run:  cargo build --release --verbose
      - name: Strip
        if: ${{ matrix.build.strip }}
        run:  strip target/release/${{ matrix.build.executable }}
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: target/release/${{ matrix.build.executable }}
