name: Release
on:
  push:
    tags:
    - 'v*'
jobs:
  build:
    name: Build and Publish
    strategy:
      matrix:
        build:
          - os: ubuntu-latest
            artifact_in: target/release/bomberhans2
            artifact_out: bomberhans2
          - os: windows-latest
            artifact_in: bomberhans2.exe
            artifact_out: bomberhans2.exe
        toolchain:
          - stable

    runs-on: ${{ matrix.build.os }}

    steps:
      - uses: actions/checkout@v3
      - name: Get Tag Version
        id: version
        shell: bash
        run: |
          echo "VERSION=${GITHUB_REF#refs/tags/}" | tee -a "$GITHUB_OUTPUT"
      - run:  rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - run:  cargo build --release --verbose
      - name:  Gather Artifacts
        shell: bash
        run: |
            mkdir -p upload/
            cp ${{ matrix.build.artifact_in }} upload/${{ steps.version.outputs.VERSION }}-${{ matrix.build.artifact_out }}
      - uses: actions/upload-artifact@v3
        name: Upload
        with:
          name: Executable for ${{ matrix.build.os }}
          path: upload

      - name: Deug Working Dir
        if: ${{ failure() }}
        shell: bash
        run: |
          echo "Something didn't work"
          pwd
          find .
          env

