name: Release
on:
  push:
    tags:
    - 'v*'
jobs:
  build:
    name: Build and Publish
    strategy:
      matrix:
        build:
          - os: ubuntu-latest
            artifact: bomberhans2
            os_name: linux

          - os: windows-latest
            artifact: bomberhans2.exe
            os_name: windows

        toolchain:
          - stable

    runs-on: ${{ matrix.build.os }}

    steps:
      - uses: actions/checkout@v3
      - name: Get Tag Version
        id: version
        shell: bash
        run: |
          echo "VERSION=${GITHUB_REF#refs/tags/}" | tee -a "$GITHUB_OUTPUT"
      - run:  rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - run:  cargo build --release --verbose
      - name:  Gather Artifacts
        shell: bash
        run: |
            mkdir -p upload/
            cp target/release/${{ matrix.build.artifact }} upload/-${{ matrix.build.artifact }}
      - uses: actions/upload-artifact@v3
        name: Upload
        with:
          name: BomberHans2-${{ steps.version.outputs.VERSION }}-${{ matrix.build.os_name }}
          path: upload

      - name: Debug
        if: ${{ failure() }}
        shell: bash
        run: |
          echo "Something didn't work"
          pwd
          find .
          env

